md-list(flex)
  md-subheader.md-no-sticky Recently used rooms
  md-list-item.md-1-line(ng-repeat="room in usedRooms track by room",
      ng-click="$root.$broadcast('alUsedRoomClicked', room)")
    div.md-list-item-text
      h3(style="padding:0; margin:0; font-weight:400; font-size:18px") {{ ::room }}
    md-button.md-secondary.md-icon-button(aria-label="call",
        ng-click="usedRooms.splice($index, 1)")
      md-icon(md-svg-icon="${require('../../../img/icons/ic_clear_black_24px.svg')}")
  md-divider
