
div(style="position:fixed;z-index:100;left:20px;top:20px")
  img(ng-src="${require('../../../img/logo_dark.svg')}", height=50, ng-click="onLogoClick()")

video.local.md-whiteframe-2dp(id='localVideo', autoplay='true', muted='true',
  width='320px', height='240px', style='display:none')

video.remote.md-whiteframe-2dp(id='remoteVideo', autoplay='true',
  width='320px', height='240px', style='display:none')

al-video-stream
altexo-web-rtc-view(chat='chat', wait-call='chat.p2p')
div(style="position:fixed;z-index:100;left:20px;bottom:20px")
  h5 Room: {{ ::chat.roomName|uppercase }}
  p Invite by sharing the link: &nbsp;
    span(style="text-decoration: underline;") {{ ::viewLink() }}
  - var dbg = DEBUG;
  if dbg
    p Candidates sent: {{ iceSent }}
    p Candidates received: {{ iceReceived }}
