
div(style="position:fixed;z-index:100;left:20px;top:20px")
  img(ng-src="${require('../../../img/logo_dark.svg')}", height=50, ng-click="onLogoClick()")


altexo-web-rtc-view(chat='chat', media-state='controls', ng-if='chat.room != null')
  al-video-stream
  video.local.md-whiteframe-2dp(id='localVideo', autoplay='true', muted='true',
    width='320px', height='240px', style='display:none')
  video.remote.md-whiteframe-2dp(id='remoteVideo', autoplay='true',
    width='320px', height='240px', style='display:none')


div(style="position:fixed;z-index:100;left:220px;bottom:110px", ng-if='chat.room != null')
  h5 Controls
  label(for='localVideo') Show local video
  input(type='checkbox', ng-model='controls.local.video', name='localVideo')
  br
  label(for='localAudio') Play local audio
  input(type='checkbox', ng-model='controls.local.audio', name='localAudio')
  br
  label(for='remoteVideo') Show remote video
  input(type='checkbox', ng-model='controls.remote.video', name='remoteVideo')
  br
  label(for='remoteAudio') Play remote audio
  input(type='checkbox', ng-model='controls.remote.audio', name='remoteAudio')

div(style="position:fixed;z-index:100;left:20px;bottom:150px", ng-if='chat.room != null')
  h5 Contacts
  ul
    li(ng-repeat='contact in chat.room.contacts track by contact.id')
      | {{ contact.name }}

div(style="position:fixed;z-index:100;left:20px;bottom:20px", ng-if='chat.room != null')
  h5 Room: {{ chat.room.name|uppercase }}
  p Invite by sharing the link: &nbsp;
    span(style="text-decoration: underline;") {{ ::viewLink() }}
    
  if DEBUG == 'true'
    p Candidates sent: {{ iceSent }}
    p Candidates received: {{ iceReceived }}
