#videostash div {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid red;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
  }
}

.altexo-toolbar {
  md-input-container {
    input {
      color: white;
    }

    .md-errors-spacer {
      min-height: 0 !important;
    }
  }
}
// .stream {
.logo_dark {
  position: fixed;
  z-index: 100;
  left: 20px;
  top: 20px;
}

.control-panel-wrapper {
  position: fixed;
  z-index: 100;
  left: 0;
  width: 100%;
  bottom: 20px;

  .invitation-link {
    margin-left: 20px;
  }
}

.md-sidenav-right {
  z-index: 101;

  md-input-container {
    margin: 0;

    .md-errors-spacer {
      display: none;
    }
  }

  button {
    margin: 0;
  }
}

.username {
  position: fixed;
  z-index: 99;
  right: 20px;
  top: 20px;
}
// }
