@import '../../node_modules/angular-material/angular-material.scss';
@import '../../node_modules/roboto-fontface/css/roboto/roboto-fontface.css';
@import '../../node_modules/angular/angular-csp.css';

al-video-stream,
altexo-web-rtc-view-share-screen,
altexo-web-rtc-view {
  display: flex;
  flex: 1;
}

al-used-rooms {
  display: flex;
}

ng-view {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}
