doctype html
html(lang='en')
  head
    title Altexo chat, easy 3D video and holographic conversations
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    meta(name='description' content='Altexo chat, video and holographic conferences for 3D environment including virtual reality and augmented reality. Try it now at https://chat.altexo.com')
    meta(name='author' content='Lugati Ltd.')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    //- OPEN GRAPH PROPERTIES
    meta(property='og:url', content='https://chat.altexo.com')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Altexo chat, easy 3D video and holographic conversations')
    meta(property='og:description', content='Altexo chat, video and holographic conferences for 3D environment including virtual reality and augmented reality. Try it now at https://chat.altexo.com')
    meta(property='og:image', content='https://chat.altexo.com/img/preview.png')
    meta(property="og:site_name", content="altexo.com")

    link(rel='icon',type='image/png', href='/img/favicon.png')

    if DEBUG == 'true'
      base(href='/')
    else
      base(href='/')

  body(layout='row', ng-cloak='', ng-controller='RootCtrl')
    ng-view(layout='column', flex='grow', style='overflow-y:hidden;overflow-x:hidden;position:relative')

    //- SEO
    if DEBUG != 'true'
      include _seo
